body {
  font-family: Calibri, sans-serif;
}

.header {
  width: 100%;
}

.headSplash {
  height: 30px;
}

#splashBottom {
  border-bottom: 3px solid green;
  height: 14px;
  margin-bottom: 20px;
  cursor: pointer;
  color: black;
  text-align: center;
  font-size: 10px;
}

.headMain {
  display: inline-block;
  background-color: green;
  width: 100%;
}

.headMain > div {
  width: 800px;
  margin: 0 auto;
}

.headTitle {
  float: left;
  padding-right: 20px;
  border-right: 5px solid beige;
}

.header h1 {
  font-family: Calibri, sans-serif;
  font-size: 32px;
  color: beige;
  margin: 0;
  margin-top: 15px;
}

.header h2 {
  font-family: "Calibri Light", sans-serif;
  font-size: 18px;
  text-align: right;
  margin-top: 2px;
}

nav {
  float: left;
}

nav a {
  font-family: Calibri, sans-serif;
  text-decoration: none;
  display: inline-block;
  border-right: 2px solid darkgreen;
  padding: 41px 10px 28px;
  font-size: 20px;
  color: beige;
  font-weight: 700;
}

nav a:hover {
  color: black;
  background-color: lightgreen;
}

nav a:first-child {
}

nav .active {
  background-color: lightgreen;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.body > div {
  margin: 0 auto;
  width: 1400px;
  height: 100%;
}

.body > div > div {
  display: inline-block;
  height:100%;
}

.body > div > div h2 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.body > div > div#left {
  float: left;
  width: 290px;
  border-right: 4px solid green;
  margin-right: 6px;
}

.body > div > div#center {
  width: 800px;
  margin: 0 auto;
}

.body > div > div#right {
  float: right;
  width: 290px;
  border-left: 4px solid green;
  margin-left: 6px;
}

.formContainer {
  margin: 0 auto;
  position: relative;
  width: 650px;
}

#stockSearchForm {
  width: 600px;
  float: none;
  margin: 0 auto;
}

#stockSearchForm input {
  width: 500px;
  float: left;
  display: inline-block;
}

#stockSearchForm button {
  width: 75px;
  float: right;
}

#stockSearchForm p {
  width: 100%;
  margin-left: 20px;
}

.keyIndicatorContainer {
  width: 780px;
  margin: 0 auto;
  margin-top: 25px;
}

.keyIndicatorContainer fieldset {
  height: 100px;
  border-width: 3px;
  border-left: none;
  border-right: none;
}

.keyIndicatorContainer legend {
  font-size: 18px;
  font-weight: 700;
  margin-left: 50px;
}

.openOrdersContainer {
  width: 800px;
  margin: 0px 0px 25px 0px;
  background-color: beige;
}

.openOrdersContainer svg {
  color: gold;
  margin-top: 4px;
  padding-right: 40px;
  padding-left: 10px;
  vertical-align: bottom;
}

.openOrdersContainer h3 {
  background-color: green;
  cursor: pointer;
  height: fit-content;
  padding-bottom: 4px;
  border-width: 3px;
  border-left: none;
  border-right: none;
}

.openOrdersContainer legend {
  cursor: pointer;
}

.logIn {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 3px;
}

form {
  font-size: 11px;
  float: right;
  margin-bottom: 2px;
}

form button {
  margin-left: 5px;
  margin-right: 5px;
}

.logIn > div {
  text-align: right;
  font-size: 11px;
}

.logIn > p {
  display: inline-block;
  color: red;
  float: right;
  font-size: 12px;
  margin: 3px 0 0;
}

#tdRegister {
  display: inline-block;
  width: fit-content;
}

span#tdRegister {
  font-weight: bold;
  color: green;
}

.logIn button {
  background-color: blue;
  border: 3px solid beige;
  padding: 3px 8px;
  border-radius: 10px;
  margin-right: 20px;
  color: beige;
  font-weight: 700;
  font-family: Calibri, sans-serif;
}

#logout {
  color: green;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
}

#register {
  color: green;
  font-weight: 700;
  cursor: pointer;
}

form div {
  display: inline-block;
  margin-left: 5px;
}

form input {
  margin-left: 5px;
  width: 100px;
}

.balances {
  width: 100%;
  display: inline-block;
}

.balances > div {
  width: 800px;
  margin: 0 auto;
}

.balances table {
  float: left;
  margin-left: 50px;
  margin-top: 5px;
}

.balances td {
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  padding-right: 20px;
}

.balances tbody tr:nth-child(2) td {
  border-top: 2px solid green;
}

.balances tr td:nth-child(odd) {
  padding-left: 40px;
}

.balances tr td:first-child {
  padding-left: 0;
}

.balances tr td:nth-child(2) {
  border-right: 2px solid green;
}

.balances tr td:nth-child(even) {
  color: green;
}

.body h1 {
  background-color: green;
  font-size: 24px;
  font-font: Calibri, sans-serif;
  font-weight: 600;
  color: beige;
  width: fit-content;
  padding: 3px 250px 3px 10px;
  margin: 0;
}

.body h2 {
  background-color: lightgreen;
  color: black;
  font-family: Calibri, sans-serif;
  font-size: 24px;
  font-weight: 800;
  padding: 0px 150px 0px 10px;
  width: fit-content;
  margin: 0;
}

.body h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.stockListItem {
  cursor: pointer;
  font-weight: 600;
}

.stockListItem > div {
  display: inline-block;
  height: 43px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 3px;
  padding: 3px 0px
}

.stockListItem svg {
  margin-top: 13px;
  margin-left: 2px;
  color: green;
}

.stockListItem div:first-child {
  border-left: 2px solid black;
  float: left;
  width: 250px;
  margin-left: 15px;
  padding-left: 3px;
}

.stockListItem div:last-child {
  float: right;
  width: 20px;
  background-color: lightgreen;
  vertical-align: center;
}

#left h1 {

}

#left h1 {
  background-color: lightgreen;
  display: inline-block;
  width: 278px;
  padding: 4px 0px 3px 10px;
  border-bottom: 1px solid darkgreen;
  margin-bottom: 3px;
  border-left: 2px solid darkgreen;
}

#left h2 {
  width: 275px;
  display: inline-block;
  color: beige;
  font-size: 20px;
  margin: 1px 0 3px 15px;
  padding: 2px 0px 2px 4px;
  background-color: green;
}

.stockListItem table {
  font-size: 14px;
  width: 100%;
}

.stockListItem td:first-child {
  width: 20%;
  text-align: right;
  border-right: 2px solid green;
}

.openOrderItemContainer {
  width: 780px;
  margin: 2px 10px;
  height: 26px;
}

.openOrderItemContainer > div:first-child {
  display: inline-block;
  width: 668px;
  padding: 2px 0px 3px;
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 6px;
}

.openOrderExpander {
  display: inline-block;
  background-color: green;
  margin: 3px 5px 0px 5px;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.openOrderItemContainer svg {
  margin: 0;
  padding: 2px 0px 2px;
  width: 20px;
  vertical-align: center;
  color: beige;
}

.logIn a {
  display: inline-block;
}

.logIn svg {
  vertical-align: top;
  margin-top: 1px;
}